/* General styling */

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    text-align: center;
    font-family: sans-serif;
}

.btn {
    background: #0C4A60;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    margin: 40px;
    border: none;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
}

/* API ERROR MODAL - for too many calls */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Modal Animation */
    @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

    @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Modal Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #EF6C33;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 16px 16px;
    background-color: #EF6C33;
    color: white;
}

/* Header Section */

.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(51, 53, 54, 0.85);
    z-index: 1;
}

.header-content {
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}

.header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

@media(max-width:960px) {
    .v-header {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

/* Information Section */

.website-info {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background: linear-gradient(#ABDFF1, #ABDFF1 50%, #E1DDDB 50%, #E1DDDB
    100%);
}

.info-heading {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 20px;
}

.info-heading h2 {
    font-weight: 500;
}

.info-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.info-box .box a {
 text-decoration: underline;
}

.info-box .box {
    width: 320px;
    position: relative;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-top: 40px;
}

.info-box .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #645e60;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    border-radius: 20px;
}

.info-box .box:hover:before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    border-radius: 20px;
}

.info-box .box h2 {
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.info-box .box:hover h2 {
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}

.info-box .box h3 {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}

.info-box .box:hover h3,
.info-box .box:hover p,
.info-box .box:hover ul li,
.info-box .box:hover ol li,
.info-box .box:hover a
{
    color: #fff;
}

.info-box .box p,
.info-box .box ol,
.info-box .box ul,
.info-box .box a
{
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5s;
}

/* Team Match-Up Section */

.team-match-up-feature {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    background: linear-gradient(#EF6C33, #EF6C33 50%, #E1DDDB 50%, #E1DDDB
    100%);
}

#games-chart-1 {
    position: relative
}

#games-chart-2 {
    position: relative
}

.league-list {
    background: #0C4A60;
    color: #fff;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
    -webkit-appearance: button;
    outline: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    width: 80px;
    height: 80px;
}

.match-up-heading {
    margin-top: 80px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.match-up-heading h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.card {
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-top: 40px;
}

#club-crest {
    margin: 10px 10px 10px 10px;
}

.league-position {
    font-weight: 600;
}

.btn-secondary {
    background: #106786;
}

/* Footer Section */

.footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
}

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social-icons h5 {
    padding: 0px;
    text-align: center;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.footer-social-icons ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #EF6C33;
}

.footer-social-icons ul li a {
    color: #fff;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a i {
    line-height: 50px;
}

.footer-contact {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

.footer-contact h5, .footer-contact p {
    padding: 0px;
    text-align: center;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}